$dark-blue: #0D0C22;  
// $dark-gray: #858585;
$dark-gray: #595959; // for better contrast
$main-font:"Poppins";
$secondary-font:"Inter";
$excellent-rating: #219B51;
$good-rating: #25C55B;
$fair-rating: #FC8208;
$poor-rating: #FFDE48;
$unacceptable-rating: #DE3842;
$button-bg: #4D74F4;





